<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="car" class="taskCar.Car">
        <constructor-arg value="Reno"/>
        <constructor-arg value="2010"/>
        <property name="driver" ref="man"/>
    </bean>

    <bean id="man" class="taskCar.Driver">
        <constructor-arg value="Petro"/>
        <constructor-arg value="55"/>
    </bean>
</beans>